.AdultArtClass{
  font-family: Arial;
}

.top-content p{
  font-size: 20px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.line-container {
  background-color: transparent;
}

.title-text h2{
  font-weight: bold;
  font-size: 35px;
  margin-top: 60px;
  text-align: center;
}

.img-photos {
  text-align: center;
  margin-top: 60px;
}

.adult-classes-top-pic, .adult-class-painting-pic {
  height: 300px;
  width: auto;
}

.class-options {
  margin-top: 45px;
}

.bg-rectt {
  border: 2px;
  background: #DEE3D2;
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.class-options-content {
  padding-top:30px;
  padding-bottom:30px;
  margin-right: 20px;
}

.class-options-text {
  margin-left: 25px;

}

.class-options-text, .about-classes, .about-trials-texts h4{
  font-size: 25px;
  margin-bottom: 20px;
}

.class-options-text h4{
  margin-bottom: 20px;
  margin-right: 20px;
}

.class-options-text p, .adult-class-email{
  font-size: 20px;
  margin-bottom: 20px;
  margin-right:20px;
  color: black;
  text-decoration: none;
}

.adult-class-email:hover {
  text-decoration: underline;
}

.about-classes {
  margin-bottom: 50px;
  margin-top: 70px;
  margin-left: 100px;
  margin-right:100px;
}

.about-classes h4 {
  margin-bottom:20px;
  font-size: 25px;
}

.about-classes li {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right:50px;
}

.about-trials-contents {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
}

.trials-pic {
  height: 200px;
  width: auto;
  margin-bottom: 60px;
  margin-left: 20px;
}

.about-trials-text-content {
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 20px;
  font-size: 20px;
}

.about-trials-text-content h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.location-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.location-link:hover {
  text-decoration: underline;
}


@media (max-width: 800px) {

  .adult-classes-top-pic, .adult-class-painting-pic {
      height: 200px;
      width: auto;
  }

  .bg-rect {
      border: 2px;
      background: #DEE3D2;
      border-radius: 25px;
      margin-left: 30px;
      margin-right: 30px;
  }

  .about-classes{
    margin-left: 20px;
    margin-right:20px;
  }

  .about-classes h4 {
    text-align: center;
  }

  .class-options-texts h4{
    text-align: center;
  }

  .about-trials-contents {
    flex-direction: column;
  }

  .trials-pic {
    height: 200px;
    width: auto;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .about-trials-text-content {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

}