.locations-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sub-hidden-text {
  font-size: 20px;
  text-align: center;
  display: none;

  @media (max-width: 1024px) {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.locations-title p{
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;


  @media (max-width:700px) {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.card-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  perspective: 1000px;
}

.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-width: 3px;
  border-color: rgb(177, 110, 23, 0.7);
  border-radius: 10px;
  border-style: solid;
}

.card-front {
  background-color: #E3E8E1;
  font-weight: bold;
  font-size: 20px;
}

.card-back {
  background-color: #f1f6f0;
  transform: rotateY(180deg);
}

.card-back p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  font-size: 20px;
}

.card-back h3 {
  font-size: 25px;
}

.card-back span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.studio {
  margin-bottom: 30px;
}

.studio-page-link {
  padding: 10px 70px;
  border-width: 0px;
  background-color: rgb(138, 116, 107, 0.7);
  font-size: medium;
  border-radius: 10px;
  margin-top: 15px;
}

.studio-page-link a {
  color: white;
  text-decoration: none;
}

.studio-page-link:hover a {
  text-decoration: underline;
}

.studioimg {
  width: 300px;
  height: 230px;
}