.logo {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo-container a {
  background-color: #DEE3D2;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}




