.mission-header {
  margin: 0 auto;
  width: 70%
}
.mission-pg-title {
  font-size: 35px;
  font-weight: 200;
  margin: 50px 0px;
  text-align: center;
  font-weight: bold;
}

.mission-text p{
  margin-bottom: 10px;
  font-size: 20px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 0px;
}

.line-container {
  background-color: transparent;
}

.picture-collage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
}

.one-pic-section {
  display: flex;
  flex-direction: column;

}

.photo-container{
  text-align: center;
  margin-top: 60px;
}

.pic-image{
  height: 300px;
  width: auto;
}

@media (max-width: 800px) {
    .picture-collage {
      flex-direction: column;
    }

    .pic-image{
      height: 250px;
      width: auto;
    }


}