.mission {
  display: flex;
  flex-direction: row;
  padding: 40px 40px;
  font-family: Arial;
}

.mission-img {
  max-height: 420px;
  width: auto;
  /*border-style: solid;*/
  border-width: 10px;
  border-color: #8A746B;
  /*rotate: -6deg;*/
  margin-top: 50px;
  box-shadow: 0px 0px 0px 10px hsl(from rgb(177 110 23) 0 10% 50%),
              0px 0px 0px 15px hsl(from rgb(177 110 23) 0 10% 60%),
              0px 0px 0px 20px hsl(from rgb(177 110 23) 0 10% 70%),
              0px 0px 0px 25px hsl(from rgb(177 110 23) 0 10% 80%),
              0px 0px 0px 25px hsl(from rgb(177 110 23) 0 10% 90%);
}

.statement {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}


.mission-title {
  margin-top: 100px;
  font-size: 40px;
  margin-left: 50px;
}

.text {
  padding: 20px 50px;
  font-size: 20px;
  /* max-height: 300px;
  overflow-y: auto; */
}

.text p {
  margin-bottom: 10px;
}

hr {
  border:none;
  border-bottom:1px solid;
  border-color: black;
  }

.rectangle {
  width:350px;
  height:450px;
  background: #826c63;
  margin-top: 40px;
  opacity: 0.5;
  position: absolute;
}

.overlap {
  position: relative;
}

@media (min-width: 566px) {
  .photo {
    margin-top:50px;
  }

}

@media (max-width: 768px) {
  .mission {
    flex-direction: column;
    padding: 20px;
  }

  .mission-img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .photo {

  }

  .statement {
    margin-left: 0;
    align-items: center;
  }

  .mission-title {
    font-size: 30px;
    margin-left: 0;
  }

  .text {
    padding: 10px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) { 
  .mission {
    flex-direction: column;
    padding: 30px;
  }

  .mission-img {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 0px;
  }

  .statement {
    margin-left: 0;
    align-items: center;
  }

  .mission-title {
    font-size: 35px;
    margin-left: 0;
  }

  .text {
    padding: 15px;
    font-size: 19px;
  }

  .rectangle {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: block;
  }
}