.logo-container {
  display: flex;
  justify-content: center;
  background-color: #DEE3D2;
  padding-top: 20px;
  padding-bottom: 20px;

  @media(max-width: 768px) {
        justify-content: space-between;
    }
}

.nav-logo img {
  width: 400px;
  height: auto;

  @media(max-width: 768px) {
        width: 300px;
        height: auto;
        padding-left: 20px;
    }
}

.navbar {
  background-color: #5B5B5B;
  padding: 10px 20px; 
  z-index: 200;
  position: relative;

  @media(max-width: 768px) {
        display: none;
    }
} 

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.nav-menu {
  background-color: #5B5B5B;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-around; 
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
}

.nav-icon {
  width: 1em;
  height: 1em;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5B5B5B;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
} 

.dropdown-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown-link:hover {
  background-color: #eeeeee44;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: max-content;
  }

  .nav-links {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .nav-item:first-child .dropdown-menu {
    left: 0;
    transform: none; 
  }

 
  .nav-item:last-child .dropdown-menu {
    left: auto;
    right: 0; 
    transform: none;
  }
}

.dropdown-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdown-link:hover {
  background-color: #eeeeee44;
  border-radius: 5px;
}


.button {
  background-color: #A59A6C;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
  display: inline-block;
  padding-right: 20px;


  @media(min-width: 768px) {
        display:none;
  }
}

.navbar-toggler-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.overlay {
    height:0%;
    width:100%;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y:auto;
    transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content-hidden {
    display: none;
}


.overlay-content-hidden a{
    font-size: 24px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;

  @media (max-height: 450px) {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}