.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5D5D5D;
  padding: 0.5rem 1rem;
  color: white;
  height: 50px;
}

.icon {
  vertical-align: middle;
  margin-right: 0.5rem;
  height: 30px;
  width: 20px;
  margin-bottom: 5px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 90%;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.dropdown-btn {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-btn:hover, .dropdown-btn:focus {
  font-size: larger;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5D5D5D;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: none; 
  z-index: 200; 
  width: max-content;
}

.navbar-item:hover .dropdown-menu,
.navbar-item:focus-within .dropdown-menu {
  display: block; 
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.dropdown-item:hover {
  font-size: larger;
}

/* .dropdown-item a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 8px 16px;
} */

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
