.RegularClass{
  /*display: flex;
  flex-direction: row;*/
  font-family: Arial;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.line-container {
  background-color: transparent;
}

.title-text h2{
  font-weight: bold;
  font-size: 35px;
  margin-top: 60px;
  text-align: center;
}

.img-photo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.reg-classes-top-pic {
  height: 400px;
  width: auto;
}

.class-options {
  margin-top: 45px;
  margin-bottom:45px;
}

/* .bg-rect {
  border: 2px;
  background: #DEE3D2;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
} */

.class-options-content {
  padding: 40px 30px;
  background: #DEE3D2;
  border-radius: 10px;
}

.class-options-texts {
  margin-left: 25px;
}

.class-options-texts, .about-trials-texts h4{
  font-size: 25px;
  margin-bottom: 20px;
}

.class-options-texts h4{
  margin-bottom: 20px;
  margin-right: 20px;
}

.class-options-texts li{
  font-size: 20px;
  margin-bottom: 5px;
  margin-right:30px;
  margin-left: 20px;
}

.class-options-location-boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top:20px;
}

.button2 {
  background-color: #8A746B;
  color: white;
  padding: 9px 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.button2 a {
  color: white;
  text-decoration: none;
}

.button2:hover a {
  text-decoration: underline;
}

.about-trials-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
  background-color: #DEE3D2;
  border-radius: 10px;
  padding-top: 44px;
}

.about-trials-pic {
  height: 300px;
  width: auto;
  margin-bottom: 10px;
  margin-left: 20px;
}

.about-trials-texts {
  margin-top: 130px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 800px) {

  .reg-classes-top-pic, .about-trials-pic {
      height: 250px;
      width: auto;
  }

  .bg-rect {
      border: 2px;
      background: #DEE3D2;
      border-radius: 25px;
      margin-left: 30px;
      margin-right: 30px;
  }

  .about-classes{
    margin-left: 20px;
    margin-right:20px;
  }

  .about-classes h4 {
    text-align: center;
  }

  .class-options-texts h4{
    text-align: center;
  }

  .about-trials-content {
    flex-direction: column;
  }

  .class-options-location-boxes {
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
  }

  .button2 {
    margin-top:5px;
    margin-bottom:5px;
    width: 100%;
  }

  .about-trials-pic {
    height: 300px;
    width: auto;
    margin-left: 0px;
  }

  .about-trials-texts {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
}