.embla {
  height: 500px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem; 
  --slide-size: 100%; 
  z-index: 100;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

/* .slide {
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.slide {
  height: auto;
  min-height: 400px;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  will-change: transform;
  @media (max-width: 640px) {
    min-height: 300px;
  }
}

.slide-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  @media (max-width: 768px) {
    font-size: 30px;
    top: 30%;
  }
}

.free-class-button {
  background-color: #F1AD9C;
  color: #4A4A4A;
  border: none;
  padding: 10px 70px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0%);
  min-width: 280px; 
  @media (max-width: 768px) {
    padding: 8px 40px;
    font-size: 16px;
  }
}

.free-class-button:hover {
  text-decoration: underline;
}
