.policy-block {
  padding: 20px 20px;
}
.studio-header {
  height: auto;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.studio-title {
  font-size: 35px;
  font-weight: 300;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.studio-intro {
  max-width: 1000px;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.6;
  margin: 0;
}

.studio-policies {
  height: auto;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.studio-policy {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.studio-subtitle {
  font-size: 30px;
  font-weight: 200;
  padding: 10px 0;
  margin: 20px 0;
}

.studio-policy-title {
  font-size: 25px;
  font-weight: 200;
  margin: 20px 0 10px 0;
  color: #333;
}

.studio-policy ul {
  margin: 0 0 20px 0;
  padding-left: 20px;
}

.studio-policy li {
  margin-bottom: 8px;
  line-height: 1.4;
}

.studio-policy ul ul {
  margin: 8px 0;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.line-container {
  background-color: transparent;
}