.summer-header {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center; 
  text-align: center;
  gap: 20px;
}

.summer-intro {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.summer-title {
  font-size: 35px;
  padding: 20px 0px;
  white-space: nowrap;
}

.summer-intro {
  font-size: 20px;
}


.studio-photo{
  text-align: center;
  margin-top: 60px;
}

.studio-pic{
  height: 200px;
  width: auto;
}

.summer-images {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.summer-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.summer-images {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.summer-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.summer-title {
  font-size: 35px;
  padding: 40px 0px;
  font-weight: bold;
}

.summer-intro {
  font-size: 20px;
}

.force-break {
  display: block; 
}

.summer-schedule-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  width: 80%; 
  margin: 100px auto; 
  border: solid 2px;
  padding: 20px 20px
}

.summer-schedule-box {
  padding: 20px; 
  text-align: center; 
  background-color: white; 
  font-size: 20px;
}

.summer-schedule-subtext {
  font-size: 15px;
}

.summer-subtitle {
  font-size: 25px;
  font-weight: 550;
}

.summer-body-intro p {
  text-align: left;
  width: 40%
}

.summer-body {
  text-align: left;
  width: 70%;
  margin: 40px auto;
  font-size: 20px;
}

.summer-body p {
  margin-bottom: 12px;
}

.summer-body-subtext {
  margin: 40px 0px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.line-container {
  background-color: transparent;
}

.summer-body-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

.summer-body-intro p {
  font-size: 20px;
}

.summer-body-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 20px auto 0;
  flex-wrap: wrap;
}

.summer-body-img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 950px) {
  .summer-header {
    flex-direction: column;
    gap: 30px;
  }

  .summer-images {
    max-width: 70%; 
    height: auto;
  }
  
  .summer-img {
    max-width: 250px; 
    height: auto;
  }
}

.bigger-fontsize{
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .studio-photo{
    visibility: hidden;
    display: none;
  }

  .summer-subtitle {
    font-size: 14px;
    font-weight: bold;
  }

  .summer-schedule-box {
    font-size: 14px;
    padding: 10px;
  }

  /* .summer-body-intro {
    flex-direction: column;
  } */

  .summer-body-intro p {
    width:100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .bigger-fontsize{
    font-size: 25px;
  }


}

