.tuition-title {
  font-size: 35px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  margin-top:30px;
}

.tuition-subtitle {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tuition-cards {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.tuition-card {
  width: 25%;
  height: 250px;
  border: solid 2px black;
  border-radius: 10px;
  padding: 30px 30px;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(253, 253, 253, 0.6), rgba(253, 253, 253, 0.6)), url('../img/BGTexture/card-front-texture.avif');
  background-size: cover;


}

.tuition-card p {
  font-size: 20px;
  margin: 50px 0; 
}

.tuition-price {
  font-size: 35px;
}

.tuition-subtitle{
  font-weight: bold;
}

.tuition-rates, .tuition-info, .tuition-sibling-chart {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tuition-info ul, .tuition-rates ul{
  margin-left: 25px;
  font-size: 20px;
}

.tuition-info li {
  margin-bottom: 7px;
}

.tuition-sibling-chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  width: 80%; 
  margin: 20px auto;
}

.tuition-sibling-box {
  border: 1px solid black;
  padding: 10px; 
  text-align: center; 
  background: linear-gradient(rgba(253, 253, 253, 0.2), rgba(253, 253, 253, 0.3)), url('../img/BGTexture/card-front-texture.avif');
  background-size: cover;
  font-size: 20px;
}

.tuition-info {
  margin-bottom: 20px;
}

.reg-font-size {
  font-size: 20px;
}

.bottom-spacing {
  margin-bottom: 10px;
}

.bolded{
  font-weight: bolded;
}

.charter-link {
  color: #0056b3; 
  text-decoration: none;
}

.charter-link:hover {
  text-decoration: underline;
}

.small-bottom-spacing{
  margin-bottom:7px;
}

.small-top-spacing{
  margin-top:7px;
}

@media (max-width: 800px) {
  .tuition-cards {
    flex-direction: column;
  }

  .tuition-card {
    padding: 45px 45px;
    width: 50%;
  }

  .tuition-sibling-chart {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .tuition-sibling-box {
    font-size: 14px;
  }
}

@media (max-width: 400px) {

  .tuition-sibling-box {
    font-size: 10px;
  }

}