.footer-container {
  width: 100%;
  height: 90px;
  background-color: #DEE3D2;
  font-family: Arial;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0px; 
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-text {
  margin-left: 30px;
  margin-right: 5px;
  font-size: 15px;
  margin-top: 10px;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials svg {
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  color: black;
}

.links {
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  font-size: 15px;
}

.footer-q {
  color: black;
  text-decoration: none;
}

.footer-q2 {
  color: black;
  text-decoration: none;
  display: none;
}

.footer-q:hover {
  text-decoration: underline;
}

.footer-img {
  width: 40%; 
  height: 100%; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  overflow: hidden; 
  position: relative;
}

.paintbrush-img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

@media screen and (max-width: 768px) {
  .gallery-text {
    display:none;
  }

  .footer-q{
    display:none;
  }

  .footer-q2{
    display: block;
  }

  .socials-icons {
    margin-left: 30px;
  }
}