.embla {
  height: 500px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  z-index: 100;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  height: 500px;
}

.slide {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.slide-text-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  height: 100%;
  background: linear-gradient(
      rgba(253, 253, 253, 0.2),
      rgba(253, 253, 253, 0.2)
    ),
    url("../img/BGTexture/card-front-texture.avif");
  background-size: cover;
  background-position: center;
}

.slide-text {
  font-size: 40px;
  margin-bottom: 20px;
  max-width: 80%;
  color: black;
}

.slide-socials {
  color: black;
  font-size: 80px;
}

.slide-icons {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.free-class-button {
  padding: 10px 70px;
  border-width: 0px;
  background-color: #f1ad9c;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.free-class-button:hover {
  text-decoration: underline;
}

.last-slide {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.dual-image-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  align-items: stretch;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.slide-half-slide {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.image-caption-top {
  position: absolute;
  top: 5px;
  left: 54%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: max-content;
  z-index: 2;
  background: none;
  margin-top: 15px;
  margin-left: 30px;
}

.image-caption-bottom {
  position: absolute;
  bottom: 5px;
  left: 18%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: max-content;
  z-index: 2;
  background: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.social-media-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: url("../img/BGTexture/card-front-texture.avif") center/cover;
}

.social-text {
  font-size: 40px;
  color: black;
  margin-bottom: 15px;
}

.slide-icons {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.slide-socials {
  font-size: 50px;
  color: black;
}

@media (max-width: 400px) {
  .social-media-section {
    padding: 25px;
  }

  .dual-image-container {
    width: 100%;
  }
  .remove-div {
    display: none;
  }

  .dual-image-container {
    height: 300px;
  }

  .social-text {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 10px;
  }

  .slide-icons {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .embla {
    height: 450px;
  }

  .embla__slide {
    flex-direction: row;
    align-items: center;
    height: 450px;
  }

  .image-caption-top {
    position: absolute;
    top: 5px;
    left: 49%;
  }

  .slide {
    width: 65%;
    height: 450px;
  }

  .slide-text-container {
    width: 35%;
    padding: 15px;
    text-align: center;
  }

  .slide-text {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .free-class-button {
    padding: 8px 50px;
    font-size: 20px;
    margin-top: 10px;
  }

  .slide-socials {
    font-size: 70px;
  }

  .slide-icons {
    gap: 20px;
    margin-top: 10px;
  }

  .social-media-section {
    width: 30%;
    padding: 15px;
  }

  .social-text {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .last-slide {
    height: 450px;
  }

  .dual-image-container {
    width: 75%;
  }

  .slide-half-slide {
    height: 450px;
  }

  .image-container {
    width: 50%;
  }

  .image-caption-bottom {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .slide {
    width: 65%;
    height: 550px;
  }
}

@media (max-width: 640px) {
  .embla__slide {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .embla {
    height: auto;
  }

  .slide {
    width: 100%;
    height: 400px;
  }

  .slide-text-container {
    width: 100%;
    padding: 5px;
    text-align: center;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/BGTexture/card-front-texture.avif") center/cover;
  }

  .slide-text {
    font-size: 25px;
    margin-bottom: 2px;
    color: black;
  }

  .free-class-button {
    padding: 5px 25px;
    font-size: 20px;
    margin-top: 5px;
  }

  .last-slide {
    flex-direction: column;
    align-items: center;
  }

  .dual-image-container {
    width: 100%;
    flex-direction: row;
  }

  .image-container {
    width: 50%;
  }

  .slide-half-slide {
    width: 100%;
    height: 400px;
  }

  .social-media-section {
    width: 100%;
    padding: 10px;
  }

  .social-text {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .slide-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .slide-socials {
    font-size: 40px;
  }
  .image-caption-bottom,
  .image-caption-top {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dual-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 0;
  }

  .image-container {
    flex: 1 1 50%;
    max-width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .slide-half-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .image-caption-top {
    position: absolute;
    top: 5px;
    left: 58%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: max-content;
    z-index: 2;
    background: none;
    margin-top: 15px;
    margin-left: 30px;
  }

  .image-caption-bottom {
    position: absolute;
    bottom: 5px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: max-content;
    z-index: 2;
    background: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}
