.footer-container {
  width: 100%;
  height: 10%;
  background-color: #DEE3D2;
  font-family: Arial;
}

.footer {
  background-color: #DEE3D2;
}

.gallery-text {
  margin-left: 30px;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.links {
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.footer-q {
  color:black;
  text-decoration: none;
}

.footer-q:hover {
  text-decoration: underline;
}