.carousel{
  margin-bottom: 70px;
  background-color: #FAF8F6;
  width: 100%; 
  box-sizing: border-box;
}

.mission {
  background-color: #FAF8F6;
  margin-bottom: 0;
}

.locations {
  background-color: #FAF8F6; 
  padding-bottom: 20px;
}

.line {
  width: 80%;
  height: 2px; 
  background-color: black; 
  margin: 0 auto; 
}

.line-container {
  background-color: #FAF8F6; 
}

